<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samourai.wallet">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="bitcoin" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".Launcher"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".MainActivity2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".BalanceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ReceiveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".SendActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".UTXOActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".BatchSendActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".FeeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".SettingsActivity2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".PinEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".bip47.BIP47Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".bip47.BIP47Add"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".bip47.BIP47ShowQR"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ricochet.RicochetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".OpenDimeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".hf.ReplayProtectionWarningActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".hf.ReplayProtectionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".bip47.paynym.ClaimPayNymActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ExodusActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.dm.zbar.android.scanner.ZBarScannerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />

        <service
            android:name=".service.BroadcastReceiverService"
            android:enabled="true" />
        <service
            android:name=".service.WebSocketService"
            android:enabled="true" />
        <service
            android:name=".service.RefreshService"
            android:enabled="true" />

        <receiver
            android:name=".receivers.BootIntentReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.InterceptOutgoingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1001">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.SMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".CreateWalletActivity" />
        <activity android:name=".RestoreSeedWalletActivity" />
        <activity
            android:name=".LandingActivity"
            android:theme="@style/AppThemeLanding" />
        <activity android:name=".RecoveryWordsActivity"></activity>

        <provider
            android:name=".util.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:theme="@style/AppThemeLanding" android:exported="true" android:name=".TxAnimUIActivity"></activity>
    </application>

</manifest>