<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samourai.wallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    -->
    <!--
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"
        tools:node="replace" />
    -->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false"
        tools:node="replace" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"
        tools:node="replace" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false"
        tools:node="replace" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"
        tools:node="replace" />

    <application
        android:name=".SamouraiApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".network.NetworkDashboard"
            android:theme="@style/ui_2_theme"
            android:exported="true"
            android:parentActivityName=".home.BalanceActivity"
            android:label="@string/title_activity_network_dashboard">

        </activity>
        <activity
            android:name=".utxos.UTXOSActivity"
            android:exported="true"
            android:label="@string/unspent_outputs"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/ui_2_theme" />
        <activity
            android:name=".paynym.paynymDetails.PayNymDetailsActivity"
            android:theme="@style/ui_2_theme"
            android:label=""
            />
        <activity
            android:name=".paynym.addPaynym.AddPaynymActivity"
            android:exported="true"
            android:label="@string/add_new"
            android:theme="@style/ui_2_theme" />
        <activity
            android:name=".paynym.PayNymHome"
            android:exported="true"
            android:label="@string/paynyms"
            android:theme="@style/ui_2_theme" />
        <activity
            android:name=".MainActivity2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="bitcoin" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.BalanceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/ui_2_theme" />
        <activity
            android:name=".ReceiveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/ui_2_theme"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".UTXOActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".BatchSendActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".FeeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".SettingsActivity2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PinEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/ui_2_theme_dark_status"
            android:label="" />
        <activity
            android:name=".bip47.BIP47Add"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".bip47.BIP47ShowQR"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".ricochet.RicochetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".OpenDimeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".paynym.ClaimPayNymActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".ExodusActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PayNymCalcActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />

        <receiver android:name=".tor.TorBroadCastReceiver" />

        <activity
            android:name=".AddressCalcActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.dm.zbar.android.scanner.ZBarScannerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />

        <service
            android:name=".service.WebSocketService"
            android:enabled="true" />
        <service
            android:name=".service.RefreshService"
            android:enabled="true" />
        <service
            android:name=".tor.TorService"
            android:enabled="true"
            android:stopWithTask="true" />
        <!--
                <receiver
                    android:name=".receivers.BootIntentReceiver"
                    android:enabled="true"
                    android:exported="true">
                    <intent-filter>
                        <action android:name="android.intent.action.BOOT_COMPLETED" />
                        <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                        <category android:name="android.intent.category.HOME" />
                    </intent-filter>
                </receiver>
                <receiver
                    android:name=".receivers.InterceptOutgoingReceiver"
                    android:enabled="true"
                    android:exported="true">
                    <intent-filter android:priority="1001">
                        <action android:name="android.intent.action.NEW_OUTGOING_CALL" />

                        <category android:name="android.intent.category.DEFAULT" />
                    </intent-filter>
                </receiver>
                <receiver
                    android:name=".receivers.SMSReceiver"
                    android:enabled="true"
                    android:exported="true">
                    <intent-filter android:priority="999">
                        <action android:name="android.provider.Telephony.SMS_RECEIVED" />

                        <category android:name="android.intent.category.DEFAULT" />
                    </intent-filter>
                </receiver>
        -->
        <activity android:name=".CreateWalletActivity" />
        <activity android:name=".RestoreSeedWalletActivity" />
        <activity
            android:name=".LandingActivity"
            android:label=""
            android:theme="@style/ui_2_theme_dark_status" />
        <activity android:name=".RecoveryWordsActivity" />
        <activity
            android:name=".TxAnimUIActivity"
            android:exported="true"
            android:theme="@style/AppThemeLanding" />

        <provider
            android:name=".util.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".send.SendActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/ui_2_theme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".whirlpool.WhirlpoolMain"
            android:exported="true"
            android:label=""
            android:theme="@style/whirlpoolTheme" />
        <activity
            android:name=".whirlpool.CycleDetail"
            android:label=""
            android:exported="true"
            android:theme="@style/whirlpoolTheme" />
        <activity
            android:name=".tx.TxDetailsActivity"
            android:exported="true"
            android:label=" "
            android:theme="@style/ui_2_theme" />
        <activity
            android:name=".tx.TxPrivacyDetailsActivity"
            android:exported="true"
            android:label=""
            android:theme="@style/ui_2_theme" />

        <activity
            android:name=".send.cahoots.ManualCahootsActivity"
            android:exported="true"
            android:label="Manual Cahoots"
            android:theme="@style/ui_2_theme" />

        <receiver
            android:name="com.msopentech.thali.android.toronionproxy.ConnectionChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.samourai.wallet.util.ConnectionChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>